* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto','Times New Roman';
}

a{
  text-decoration: none;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2rem;
  background-color: black;
  text-align: center;
}
footer p{
  color: aliceblue;
  margin-top: 0.5vh;
}

header {
  height: 8vh;
}

nav {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-content: center;
  background: linear-gradient(90deg, #d67de2, #6ec8e4); 
}


nav a {
  text-decoration: none;
  padding-top: 2.5vh;
  padding-bottom: 2vh;
  font-size: 18px;
  font-family: 'Times New Roman';
  color: white;
}


nav a:hover{
  background-color:burlywood;
}


.target1, .target2, .target3, .target4{
  color: red;
  text-decoration: underline;
}

/* img hover */
 img.main_page:hover{
  padding: 2px;
  margin-top: 0;
  margin-left: 2vw;
  border: 2px solid yellow;
  width: 50vw;
  height: 75vh;

}

div.container img:hover{
  padding: 1px;
  margin:2px;
  border: 2px solid yellow;
  width: 100%;
}



/* backgroundimage */
div.container{
  background-image: url("../image/background_img.png") ;
  background-position: center; /* Center the image */
  background-size: cover;
}

/* fontawesome icon */
.fa-brands{
  font-size: 30px;
  margin-bottom: 30px;
}

/* contact part form */

div.contact{
  display: flex;
  flex-direction: column;
  row-gap: 3vh;
}
div.form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url("../image/green.png") ;
  background-position: center; /* Center the image */
  background-size: cover;
}

section.media{
  margin-top: 1.5rem;
  display: flex;
  justify-content:space-around;
}

div.form label{
  font-size: 1rem;
  font-family: Roboto;
  margin-bottom: 0.3rem;
}

div.form input{
  font-size: 1rem;
  font-family: Roboto;
  margin-bottom: 1rem;
  background-color: aquamarine;
  padding: 0.25rem;
}

div.form button{
  background-color: aqua;
  padding: 0.25rem;
  width: 5rem;
  border-radius: 1rem;
}

@keyframes fadeIn {
  0% {
      opacity:0;
      transform: scale(1);
  }
  100% {
      opacity:1;
      transform: scale(1.05);
  }
  }


div.contact img { 
  animation: fadeIn ease infinite 3s;
}

img.inter{
  width: 80vw; 
  margin: 0 10vw;
}
img.inter:hover{
  transform:scale(1.2);
}

@media (prefers-reduced-motion) {
    div.contact img { 
      animation:  none ;
    }
  }

@media only screen and (min-width: 320px) and (max-width: 480px) {
  img{
    border:0.25rem solid aqua;
  }
  /* css for index page */
  main.index{
    background-image: url("../image/pink.png") ;
    background-position: center; /* Center the image */
    background-size: contain;
  }
  main.index img.main_page{
    display: none;
  }
  main.index h1{
    font-size: 1.5rem;
    font-weight: bold;
  }
  main.index p{
    margin-bottom: 2rem;
  }
/* css stlyle for contact page */
  body.contact_body {
    row-gap: 2vh;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(5,1fr);

  }
  body.contact_body header{
    grid-column: 1 / -1 ;
    grid-row: 1 ;
    width: 100vw;
  }
  body.contact_body div.main_page{
    grid-column: 1 / -1 ;
    grid-row: 2 ;
   
  }
  body.contact_body section.media{
    grid-column: 2 / 6 ;
    grid-row: 4;
  }
  body.contact_body aside.form{
    margin-top: 1.5rem;
    grid-column: 2 / 6 ;
    grid-row: 3 ;
  }
  body.contact_body footer{
    grid-column: 1 / -1 ;
    grid-row: 5;
  }
  div.contact img{
    width: 100vw;
    height: 48vh;
  }
  /* css for photos page */ 
  h1.photos{
    margin-top: 2rem;
  }
  div.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
    align-items: center;
    margin-top: 2rem;
  }
  div.container figure{
    margin-bottom: 2rem;
  }
  /* style for projects */
  main.project div{
    margin-bottom: 2rem;
  }
  main.project h1, p{
    line-height: 2;
  }
  main.project img{
    width: 90vw;
  }
  div.project1 img{
    margin:0 2vw 2vh 2vw;
    padding: 2px;
    border: 2px;
    height: 50vh;
  }
  div.project2 img{
    height: 37vh;
  }
  div.project3 img{
    height: 37vh;
  }
  /* project img hover */
  main.project img:hover{
    transform: scale(1.2); 
    margin-left: 10vw;
  }
}



@media only screen and (min-width: 769px) {
/* 
css for index page */
img.inter{
  display: none;
}
div.main_page{
  margin-top: 10vh;
  display: flex;
}

div.main_page div{
  width: 35vw;
  margin-left: 10vw;
}
div.main_page h1 {
  font-weight: bold;
  font-size: 45px;
  margin:2vh 0 3vh 0;
}
div.main_page p{
  line-height: 150%;
}
img.main_page{
  width: 40vw;
  height:60vh;
  margin: 0 0 0 4rem;
  border: 0.5px rgb(0, 229, 255) solid;
  padding: 1px;
}
/* 
css for photos page */
.container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-content: center;  
}

h1.photos{
  font-size: large;
  margin:3%;
}

div.container figure{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:2px;
  margin: 0 0 2vh 2vh;
}

div.container img{
  padding:0px;
  margin: 0 ;
  border: 0.05px groove blue;
  width: 80%;
}
/* project css */
div.project1, div.project3 {
  display: flex;
  margin-top: 4vh;
}
div.project1 img{
  margin:0 2vw 2vh 2vw;
  padding: 2px;
  border: 2px;
  width: 75vw;
  height: 100vh;
}
div.project1 div{
  margin-right: 2vw;
  margin-top: 15vh;
}
div.project1 h1{
  font-weight: bold;
  margin-top: 3vh;
  margin-bottom: 6vh;
  font-size: 24px;
}

div.project2{
  display: flex;
  flex-direction: column;

}

div.project2 div.pr2_img {
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

div.project2 img{
  padding: 2px;
  margin:1px;
  border: 1px;
}

div.project2 h1{
  font-weight: bold;
  font-size: 24px;
  margin-top: 3vh;
  margin-bottom: 6vh;
}
div.project2 div.pr2_text{
  margin-top: 3vh;
  margin-left: 25vw;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.project3 img{
  height:50% ;
  width:80%;
  padding: 2px;
  border: 2px;

}
div.project3 div{
  margin-right: 2vw;
  margin-top: 15vh;
}
div.project3 h1{
  font-weight: bold;
  margin-top: 3vh;
  margin-bottom: 6vh;
  font-size: 24px;
  margin:0 0 2vh 0;
}

/* contact css */

div.contact{
  display: flex;
  margin-top: 3vh;
}
div.contact img{
  width: 50vw;
  margin:0 2vw 3vh 4vw ;
  padding: 2px;
  border: 1px red solid;
}

div.contact img:hover{
  width: 60vw;
  margin:0 2vw 3vh 8vw ;
  padding: 2px;
  border: 1px hotpink groove;
}
/* project img hover */
.project1 img:hover{
  position: absolute;
  right:10vw;
  z-index: 1;
  width:80vw ;
  height: 110vh;
}

.project2 img:hover{
  z-index: 1;
  width:50vw ;
  height: 60vh;
  position: absolute;
  right:25vw;
}

.project3 img:hover{
  z-index: 1;
  width:50vw ;
  height: 50vh;
  position: absolute;
  right:25vw;
}

}



